{% extends 'base.html.twig' %}

{% block title %}Carrito de Compras{% endblock %}

{% block body %}
{% include 'layout/header.html.twig' %}
    <h1>Carrito de Compras</h1>

    {% if carrito is empty %}
        <p>No hay productos en el carrito.</p>
    {% else %}
        <table>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Peso</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total por Producto</th> <!-- Nueva columna -->
                <th>Acciones</th>
            </tr>
            {% set totalCarrito = 0 %}
            {% for producto in carrito %}
                {% set totalProducto = producto.producto.precio * producto.cantidad %}
                {% set totalCarrito = totalCarrito + totalProducto %}
                <tr>
                    <td>{{ producto.producto.nombre }}</td>
                    <td>{{ producto.producto.descripcion }}</td>
                    <td>{{ producto.producto.peso }} Kg.</td>
                    <td>{{ producto.producto.precio }} €.</td>
                    <td>
                        <a href="{{ path('aumentar', {'indice': loop.index0}) }}">+</a>
                        {{ producto.cantidad }}
                        <a href="{{ path('disminuir', {'indice': loop.index0}) }}">-</a>
                    </td>
                    <td>{{ totalProducto }}</td> <!-- Total por Producto -->
                    <td><a href="{{ path('eliminar_producto', {'indice': loop.index0}) }}">Eliminar</a></td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="5">Total del Carrito</td>
                <td>{{ totalCarrito }}</td> <!-- Total del Carrito -->
                <td></td> <!-- Columna vacía para mantener la alineación -->
            </tr>
        </table>
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('app_pedidos_new') }}">Comprar</a>
        {% else %}
            <p>Debes <a href="{{ path('app_login') }}">iniciar sesión</a> para realizar la compra.</p>
        {% endif %}
    {% endif %}

    <a href="{{path('app_productos_index')}}">Seguir Comprando</a>
{% endblock %}