
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/categorias/categorias.css') }}">
{% endblock %}

{% block body %}
{% include 'layout/header.html.twig' %}
    <h1>Categorias de Sumiifit</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                    <tr>
                        <td>{{ categoria.id }}</td>
                        <td>{{ categoria.nombre }}</td>
                        <td>{{ categoria.descripcion }}</td>
                        <td>
                            <a href="{{ path('app_categorias_show', {'id': categoria.id}) }}">Mostrar</a>
                            <a href="{{ path('app_categorias_edit', {'id': categoria.id}) }}">Editar</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No se encontraron registros.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_categorias_new') }}">Crear nueva categoría</a>
    {% else %}
        <ul class="categorias">
            {% for categoria in categorias %}
                <li>
                <a href="{{ path('productos_por_categoria', {'id': categoria.id}) }}">
                <img src="{{ asset('uploads/images/' ~ categoria.imagen) }}" alt="Imagen de la categoría">
                    <p>{{ categoria.nombre }}</p>
                    <p><i>"{{ categoria.descripcion }}"</i></p>
                    </a>
                </li>
            {% else %}
                <li>No se encontraron categorías.</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
