{% block body %}
{% include 'layout/header.html.twig' %}
    <div class="container mt-5">
        <h1>Productos</h1>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{% if is_granted('ROLE_ADMIN') %}ID{% else %}Imagen{% endif %}</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Peso</th>
                        <th>Stock</th>
                        <th>Precio</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for producto in productos %}
                    {% if producto.stock > 0 %}
                        <tr>
                            <td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    {{ producto.id }}
                                {% else %}
                                    <img src="{{ producto.imagen }}" alt="Imagen de {{ producto.nombre }}" width="100">
                                {% endif %}
                            </td>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.descripcion }}</td>
                            <td>{{ producto.peso }} Kg.</td>
                            <td>{{ producto.stock }} uds.</td>
                            <td>{{ producto.precio }} €.</td>
                            <td>
                                {% if is_granted('ROLE_ADMIN') and is_granted('ROLE_USER') %}
                                    <a href="{{ path('app_productos_show', {'id': producto.id}) }}" class="btn btn-primary">Show</a>
                                    <a href="{{ path('app_productos_edit', {'id': producto.id}) }}" class="btn btn-secondary">Edit</a>
                                {% else %}
                                <form action="{{ path('agregar_al_carrito') }}" method="post">
                                    <input type="hidden" name="producto_id" value="{{ producto.id }}">
                                    <button type="submit" class="btn btn-success">Agregar al carrito</button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <td colspan="7">No se encontraron registros</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_productos_new') }}" class="btn btn-primary">Create new</a>
        {% endif %}
    </div>
{% endblock %}