{% extends 'base.html.twig' %}

{% block title %}Detalles del Producto{% endblock %}

{% block body %}
    {% include 'layout/header.html.twig' %}
    <div class="container mt-5">
        <h1>Detalles del Producto</h1>

        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">ID</th>
                            <td>{{ producto.id }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Nombre</th>
                            <td>{{ producto.nombre }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Descripción</th>
                            <td>{{ producto.descripcion }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Peso</th>
                            <td>{{ producto.peso }} Kg</td>
                        </tr>
                        <tr>
                            <th scope="row">Stock</th>
                            <td>{{ producto.stock }} unidades</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <a href="{{ path('app_productos_index') }}" class="btn btn-secondary">Volver</a>
                <a href="{{ path('app_productos_edit', {'id': producto.id}) }}" class="btn btn-primary">Editar</a>
            </div>
        </div>
    </div>
{% endblock %}
