{% extends 'base.html.twig' %}

{% block title %}Pedidos index{% endblock %}

{% block body %}
    <h1>Pedidos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.id }}</td>
                <td>{{ pedido.fecha ? pedido.fecha|date('Y-m-d') : '' }}</td>
                <td>
                    {% if pedido.enviado == 0 %}
                        En proceso
                    {% elseif pedido.enviado == 1 %}
                        Enviado
                    {% elseif pedido.enviado == 2 %}
                        Cancelado
                    {% else %}
                        Desconocido
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_pedidos_show', {'id': pedido.id}) }}">Show</a>
                    <a href="{{ path('app_pedidos_edit', {'id': pedido.id}) }}">Edit</a>
                    
                        <form action="{{ path('confirmar_pedido', {'id': pedido.id}) }}" method="post">
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </form>


                        <form action="{{ path('app_pedidos_cancelar', {'id': pedido.id}) }}" method="post">
                            <button type="submit" class="btn btn-danger">Cancelar</button>
                        </form>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pedidos_new') }}">Create new</a>
{% endblock %}